html {
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  padding: 0.5em;
  font-family: "Tahoma", "Arial", sans-serif;
  text-align: center;
}

h1 {
  font-size: 3em;
  line-height: 0.8;
}

section {
  width: 100%;
  height: 70vh;
}

.art {
  background-color: grey;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  display: inline-block;
  line-height: 0;
  font-size: 0;
}
